.mainContent {
    width: 100%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 24px;
  width: 90%;
}

.dateBlock {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.date {
  font-size: 0.9rem;
  color: #fc809f;
  text-transform: lowercase;
}

.day {
  font-size: 1.4rem;
  font-weight: 600;
  color: #e93a78;
}

.sleep {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sleep label {
  font-size: 0.85rem;
  color: #e93a78;
}

.sleep input {
  width: 40px;
  padding: 6px 8px;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: left;
  color: #e93a78;
  border: 1px solid #fc809f;
  border-radius: 5px;
}

.sleep input::placeholder {
  color: #f784a2;
}

.exercise {
  padding-top: 20px;
}

.exercise h2 {
 margin-top: 24px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #e93a78;
  letter-spacing: 0.3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exercise h2::after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  margin-top: 6px;
  border-radius: 3px;
  background: #f8b2c7;
}

.showExe {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.oneExe {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: fit-content;
  
  padding: 14px 12px;
  border-radius: 10px;
  background-color: #ffdee9;
  box-shadow: 0 2px 6px rgba(233, 58, 120, 0.08);
}

.oneExe select {
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #e93a78;
  width: 110px;
  height: 30px;
  border: 1px solid #fc809f;
  border-radius: 5px;
}

.exeRightColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exeRightColumn input {
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #e93a78;
  width: 205px;
  height: 20px;
  border: 1px solid #fc809f;
  border-radius: 5px;
}

.exeRightColumn input::placeholder {
  font-weight: 100;
  color: #f784a2;
}

.rightColumnUnder {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.rightColumnUnder input {
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #e93a78;
  width: 52px;
  border: 1px solid #fc809f;
  border-radius: 5px;
}

.difficultyDropdown {
  position: relative;
  width: 60px;
}

.dropdownSelected {
  padding: 4px;
  font-family:sans-serif;
  font-size: 12px;
  color: #f784a2;
  background-color: white;
  width: 52px;
  height: 20px;
  border: 1px solid #fc809f;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.dropdownOptions {
  position: absolute;
  top: 110%;
  left: -5px;
  right: -5px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 100;
}

.dropdownOption {
  padding: 6px;
  font-family: sans-serif;
  text-align: left;
  font-size: 12px;
}

.green {
  background-color: #7EE8A3;
  color:#D91E6A
}

.yellow {
  background-color: #FFF275;
  color:#FF3F85
}

.red {
  background-color: #FF9AA2;
  color:#FF1E79
}

.feelingDropdown {
  position: relative;
  display: inline-block;
  width: 50px;
  text-align: center;
}


.feelingButton {
  padding: 4px;
  font-family:sans-serif;
  font-size: 12px;
  color: #f784a2;
  background-color: white;
  width: 52px;
  height: 20px;
  border: 1px solid #fc809f;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.feelingOptions {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-40%);
  display: flex;
  gap: 5px;
  margin-top: 8px;
  z-index: 10;
}

.feelingOption {
  font-size: 24px;
}

.selectedFeeling {
  font-size: 20px;
  justify-content: center;
}

.dropdownSelected:active,
.feelingButton:active {
  background-color: #ffe6ee;
}

.addExercise {
  max-width: fit-content;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50%;
}