.exe2Header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.exercise2 {
  width: 100%;
}

.exercise2 h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #e93a78;
  letter-spacing: 0.3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exeHeaderLine {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  margin-top: 6px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #f8b2c7;
}

.exeInfo {
  width: 180px;
  border-radius: 10px;
  background-color: #ffc9d7;
  color: #e93a78;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62%;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.dateCardWrapper {
  display: flex;
  flex-direction: column;
}

.dateCard {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffc9d7;
  color:#e91b63;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.dateCardOpen {
  margin-bottom: 15px;
  padding: 8px;
  background-color: #ffc9d7;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.dateCardOpen .oneExe {
  margin-bottom: 15px;
}

.dateCardOpen .addExercise {
  display: flex;
  align-items: center;
}

.addExercise span {
  color: #e93a78;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  margin-left: 10px;
}

.cardWeekday {
  margin-right: 6px;
  font-size: 20px;
}

.cardDate {
  margin-top: 4px;
  font-size: 15px;
  color: #e93a77d0;
}

